.dashboard {
	height: calc(100vh - 88px);
	box-sizing: border-box;
	display: flex;
	flex-direction: column;
	justify-content: space-between;

	&__balance {
		height: 5%;
	}

	&__graph {
		height: 30%;
	}

	&__bots {
		max-height: 45%;
	}

	&__time-range {
		height: 7%;
	}
}
