@import '../../../scss/variables.scss';

.footer {
	position: fixed;
	bottom: 0;
	width: 100%;
	height: 50px;
	background: $bg-color-footer;

	display: flex;
	justify-content: space-around;

	&__item {
		flex: 1;
		position: relative;
		color: $color-font-grey;
		cursor: pointer;
		font-size: 12px;

		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;

		&-badge {
			display: flex;
			justify-content: center;
			align-items: center;
			width: 20px;
			height: 20px;
			border-radius: 50%;
			color: $color-font-badge;
			background-color: $bg-color-badge;
			position: absolute;
			top: -5px;
			right: calc(50% - 24px);
			cursor: default;
		}

		&::before {
			content: '';
			display: block;
			width: 20px;
			height: 20px;
			margin-bottom: 5px;
			background-color: $bg-color-footer-icon;
		}

		&--dashboard::before {
			mask: url('../../../img/dashboard-icon.svg') no-repeat;
			mask-size: cover;
		}

		&--megabot::before {
			mask: url('../../../img/megabot-icon.svg') no-repeat;
			mask-size: cover;
		}

		&--market::before {
			width: 21px;
			mask: url('../../../img/market-icon.svg') no-repeat;
			mask-size: cover;
		}

		&--prices::before {
			mask: url('../../../img/prices-icon.svg') no-repeat;
			mask-size: cover;
		}

		&--profile::before {
			mask: url('../../../img/profile-icon.svg') no-repeat;
			mask-size: cover;
		}

		&--active {
			color: $color-font-light;

			&::before {
				background-color: $bg-color-footer-icon-active;
			}
		}
	}
}
