@import '../../../scss/variables.scss';

.time-range {
	display: flex;
	padding: 0 10px 10px;
	align-items: center;

	&__label {
		margin: 0;
		font-size: .75rem;
		font-weight: 700;
		white-space: nowrap;
	}

	&__ranges {
		display: flex;
		align-items: center;
		justify-content: flex-end;
		margin-left: auto;
	}

	&__range {
		font-size: .75rem;
		white-space: nowrap;
		padding: 5px;
		border: 1px solid $border-color-range;
		border-radius: 15px;
		cursor: pointer;
		
		&--active {
			font-weight: 700;
			color: $color-font-light;
			background: $bg-color-range-active;
			border: 1px solid $border-color-range-active;
		}
	}

	&__range + &__range {
		margin-left: 5px;
	}
}
