@import '../../../scss/variables.scss';

.balance {
	display: flex;
	align-items: center;
	padding: 5px 15px;

	&__capital {
		position: relative;
		flex: 3;

		&-label {
			margin: 0;
			font-size: .75rem;
			text-transform: uppercase;
			font-weight: 700;
			position: absolute;
			top: -15px;
		}

		&-value {
			margin: 0;
			color: $color-font-light;
			font-size: 2rem;
			white-space: nowrap;
		}
	}

	&__info {
		margin-left: auto;
		flex: 2;

		&-row {
			display: flex;
			position: relative;
			padding-right: 20px;
			text-align: right;
			margin: 2px 0;

			&-icon::after {
				content: '';
				display: block;
				width: 14px;
				height: 14px;
				mask: url('../../../img/balance.png') no-repeat;
				mask-size: cover;
				background-color: $bg-color-balance-icon;
				position: absolute;
				right: 0;
				top: calc(50% - 7px);
			}
		}

		&-label {
			margin: 0;
			font-size: .75rem;
			text-transform: uppercase;
			font-weight: 700;
			margin-right: 5px;
			flex: 3;
			text-align: left;
		}

		&-value {
			margin: 0;
			color: $color-font-light;
			font-weight: 700;
			flex: 2;
			font-size: .75rem;
			text-align: right;
			white-space: nowrap;
		}
	}
}
