@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600,700&display=swap');
@import './variables.scss';

body {
  margin: 0;
  font-family: 'Open Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.btn {
  border: none;
  padding: 8px 16px;
  border-radius: 3px;
  cursor: pointer;

  &--default {
    background-color: $bg-color-footer-icon;
    color: $color-font-light;
  }

  &--primary {
    background-color: $color-font-positive;
    color: $color-font-light;
  }

  &--danger{
    background-color: $color-font-negative;
    color: $color-font-light;
  }
}
