$color-font-grey: #546076;
$color-font-light: #ffffff;
$color-font-dark: #000000;
$color-font-badge: #ffffff;
$color-font-negative: #d2447b;
$color-font-positive: #78a659;

$bg-color-footer: #232c3e;
$bg-color-footer-icon: #546076;
$bg-color-footer-icon-active: #ffffff;
$bg-color-badge: #e4972d;

$bg-color-header-icon: #546076;
$bg-color-header-icon-active: #ffffff;

$bg-color-balance-icon: #546076;

$border-color-range: #273246;
$border-color-range-active: #8e939b;
$bg-color-range-active: #232c3e;
