$color-font-grey: #546076;
$color-font-light: #ffffff;
$color-font-badge: #ffffff;

$bg-color-footer: #232c3e;
$bg-color-footer-icon: #546076;
$bg-color-footer-icon-active: #ffffff;
$bg-color-badge: #e4972d;

$bg-color-header-icon: #546076;
$bg-color-header-icon-active: #ffffff;
